@import 'partials/normalizer';
@import 'partials/app';
//-@import 'partials/component' //save as _component.scss

.hidden {
  display: none;
}

h1{
color: rgb(255, 145, 145);
font-size: 50px;
background-color: rgb(0, 0, 0);
text-shadow: rgb(3, 3, 3) 4px 4px 4px;
text-align: center;
}